<div class="page-content-wrapper">
    <div class="page-content">
      <div class="portlet light bordered">
        <div class="portlet-title">
          <div class="caption font-dark">
            <i class="icon-home font-dark"></i>
            <span class="caption-subject bold uppercase"> Son 100 İşlem</span>
          </div>
        </div>
        <div class="portlet-body">
          <div class="table-scrollable">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th>Tarih</th>
                  <th>Kullanıcı</th>
                  <th>İşlem</th>
                  <th>Veri</th>
                  <th>Ip Adresi</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr id="tableLoader">
                  <td colspan="6" class="text-center">
                    <img src="/assets/layouts/layout4/img/loading-spinner-blue.gif" height="30" />
                  </td>
                </tr>
                <tr ng-if="list.length==0">
                  <td colspan="6" class="text-center">Log Kaydı Bulunamadı!</td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td><span class="label label-sm"> </span></td>
                </tr>
              </tbody>
            </table>
          </div>
  
        </div>
      </div>
    </div>
  </div>