<div class="page-sidebar-wrapper">
  <div class="page-sidebar navbar-collapse collapse">
    <ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
      <li class="nav-item" *ngFor="let menu of menuList" [ngClass]="{'active': menu.IsActive }">
        <a (click)="route(menu)" class="nav-link nav-toggle">
          <i class="{{menu.Icon}}"></i>
          <span class="title">{{menu.Name}}</span>
          <span class="arrow" *ngIf="menu.SubMenu && menu.SubMenu.length>0"></span>
        </a>
        <ul class="sub-menu" style="display: block" *ngIf="menu.SubMenu && menu.SubMenu.length>0">
          <li class="nav-item ">
            <a class="nav-link ">
              <i class="@item2.Icon"></i>
              <span class="title">Alt Menü</span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>